Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-Caching==2.1.0
Flask-Session==0.8.0
SQLAlchemy>=2.0.34
Authlib==1.2.1
python-dotenv==1.0.0
requests==2.31.0
gunicorn==21.2.0
websocket-client==1.8.0
pylast==5.2.0
psycopg2-binary==2.9.7
eventlet==0.33.3
urllib3==1.26.12
spotipy>=2.23.0
redis==5.0.1


